# Environment files
.env
.env.local
.env.production
.env.prod

# Java
groupsguru-backend/target/
groupsguru-backend/data/
groupsguru-backend/.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
.next/
out/

# Uploads
uploads/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Mobile
groupsguru-mobile/android/app/build/
groupsguru-mobile/ios/build/
groupsguru-mobile/ios/Pods/

# Logs
*.log